<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<!-- <ion-content class="card-background-page">
  
    <ion-card (click)="adoptTapped()">
      <img src="../../assets/img/dog.png"/>
      <div class="card-title">อุปการะ</div>
      <div class="card-subtitle">รับ/หาการอุปการะ</div>
    </ion-card>
  
    <ion-card (click)="lostTapped()">
      <img src="../../assets/img/dog2.png"/>
      <div class="card-title">สุนัขหาย</div>
      <div class="card-subtitle">ตามหา/แจ้งพบสุนัขหาย</div>
    </ion-card>
    <p>{{(test | async)?.displayName}}</p>
    <button (click) = "logout()">Logout</button>
 </ion-content> -->
<ion-content>
  <ion-card class="card-background-page">
    <img src="assets/img/dog_banner2.jpg" />
    <div class="card-title">สวัสดี {{displayName}}</div>
    <div class="card-subtitle">{{date}} {{monthTH}} {{year}}</div>
  </ion-card>
  <ion-grid>
    <!-- <ion-row>

      <ion-item no-lines>
        <ion-thumbnail item-start>
          <img src="assets/img/scroll0015.jpg">
        </ion-thumbnail>
        <h2>Turkey lost Today at 9.51 AM</h2>
        <p>หากพบโปรดแจ้งเบาะแส</p>
        <button ion-button clear item-end>View</button>
      </ion-item>

    </ion-row> -->
    <ion-row>
      <ion-col col-6>
        <ion-card (tap)="lostAnnounce()">
          <ion-card-header style ="padding-bottom : 0; padding-top:5px;">
            <h1>สุนัขหาย</h1>
          </ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col col-6 *ngFor="let dog of lostList | async">
                <div style="width: 100%; padding-top: 100%; position: relative;">
                  <img style="position: absolute;
                  border-radius:4px;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                height : 100%" src="{{dog.photo}}">
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card (tap)="adoptMore($event)">
          <ion-card-header style ="padding-bottom : 0; padding-top:5px;">
            <h1>อุปการะสุนัข</h1>
          </ion-card-header >
          <ion-grid>
            <ion-row>
              <ion-col col-6 *ngFor="let dog of adoptList | async">
                <div style="width: 100%; padding-top: 100%; position: relative; ">
                  <img style="position: absolute;
                      border-radius:4px;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    height : 100%" src="{{dog.photo}}">
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item-divider color="light">
        <ion-icon name="book"></ion-icon> Tip of the day</ion-item-divider>
      <ion-item inset (tap)= "openBrowser('https://www.dogilike.com/content/caring/6566/')">
        <ion-thumbnail item-start>
          <img src="https://image.dogilike.com/shareimg/contentimg/2018/pungpond/1-61/Caring/3/SV-Salmon-MK3_9397.jpg">
        </ion-thumbnail>
        <h2>11 อาหารของมนุษย์ที่ดีต่อสุขภาพน้องหมา</h2>
        <p>อาหารของมนุษย์ที่คิดว่าธรรมดา แต่เป็น "Super Food" ที่มีคุณค่าสำหรับน้องหมา</p>
        <button ion-button clear item-end>View</button>
      </ion-item>
    </ion-row>
  </ion-grid>


</ion-content>