<ion-header>

  <ion-navbar>
    <ion-title>ลงประกาศหาผู้อุปการะ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="infoAdopt" (ngSubmit)="addAnnounceAdopt()">
    <ion-list>
      <ion-item no-lines>
        <ion-label>โปรดเพิ่มภาพสุนัขของท่าน</ion-label>
      </ion-item>
      <ion-item no-lines>
        <button ion-button type=button (click)="presentActionSheet()">อัพโหลดภาพ
        </button>
        <div *ngIf="dogPicture !== undefined">
          <ion-item  no-lines>
            <img src={{dogPicture}}>
          </ion-item>
        </div>
      </ion-item>
      <ion-item>
        <ion-label floating>ชื่อสุนัขของคุณ<span style= "color : red">*</span></ion-label>
        <ion-input type="text" formControlName="dogName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>เพศ<span style= "color : red">*</span></ion-label>
        <ion-select formControlName="gender">
          <ion-option value="male">เพศผู้</ion-option>
          <ion-option value="female">เพศเมีย</ion-option>
        </ion-select>
      </ion-item>
      <ion-item no-lines>
        <ion-label>อายุ<span style= "color : red">*</span></ion-label>
      </ion-item>
      <ion-row>
        <ion-col ion-item col-4>
          <ion-label>ปี</ion-label>
          <ion-select interface="popover" formControlName="age_year">
            <ion-option value="0">0</ion-option>
            <ion-option value="1">1</ion-option>
            <ion-option value="2">2</ion-option>
            <ion-option value="3">3</ion-option>
            <ion-option value="4">4</ion-option>
            <ion-option value="5">5</ion-option>
            <ion-option value="6">6</ion-option>
            <ion-option value="7">7</ion-option>
            <ion-option value="8">8</ion-option>
            <ion-option value="9">9</ion-option>
            <ion-option value="10">10</ion-option>
            <ion-option value="11">11</ion-option>
            <ion-option value="12">12</ion-option>
            <ion-option value="13">13</ion-option>
            <ion-option value="14">14</ion-option>
            <ion-option value="15">15</ion-option>
          </ion-select>
        </ion-col>
        <ion-col ion-item col-4>
          <ion-label>เดือน</ion-label>
          <ion-select interface="popover" formControlName="age_month">
            <ion-option value="0">0</ion-option>
            <ion-option value="1">1</ion-option>
            <ion-option value="2">2</ion-option>
            <ion-option value="3">3</ion-option>
            <ion-option value="4">4</ion-option>
            <ion-option value="5">5</ion-option>
            <ion-option value="6">6</ion-option>
            <ion-option value="7">7</ion-option>
            <ion-option value="8">8</ion-option>
            <ion-option value="9">9</ion-option>
            <ion-option value="10">10</ion-option>
            <ion-option value="11">11</ion-option>
          </ion-select>
        </ion-col>
        <ion-col ion-item col-4>
          <ion-label>สัปดาห์</ion-label>
          <ion-select interface="popover" formControlName="age_week">
            <ion-option value="0">0</ion-option>
            <ion-option value="1">1</ion-option>
            <ion-option value="2">2</ion-option>
            <ion-option value="3">3</ion-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-item>
        <ion-label floating>พันธุ์<span style= "color : red">*</span></ion-label>
        <ion-select formControlName="breed">
          <ion-option *ngFor="let item of breed">{{item}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>ข้อมูลติดต่อ<span style= "color : red">*</span></ion-label>
        <ion-textarea formControlName="contactMiss"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label floating>ข้อมูลสุนัขเพิ่มเติม<span style= "color : red">*</span></ion-label>
        <ion-textarea formControlName="dogDetail"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label floating>สาเหตุในการให้อุปการะ<span style= "color : red">*</span></ion-label>
        <ion-textarea formControlName="reason"></ion-textarea>
      </ion-item>

      <button ion-button type="submit" color="secondary" [disabled]="!infoAdopt.valid">ยืนยัน</button>
      <button ion-button type="reset" color="danger" (tap)="cancelForm()">ยกเลิก</button>
    </ion-list>
  </form>
</ion-content>