<!--
  Generated template for the AdoptDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ข้อมูลประกาศหาคนอุปการะ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <img class = "photo" src="{{announceDetail.photo}}" />
  <ion-list>
    <ion-item>
      <h2>ชื่อสุนัข</h2>
      <p>{{announceDetail.dogName}}</p>
    </ion-item>
    <ion-item>
      <h2>พันธุ์</h2>
      <p>{{announceDetail.breed}}</p>
    </ion-item>
    <ion-item>
      <h2>เพศ</h2>
      <p>{{announceDetail.gender}}</p>
    </ion-item>
    <ion-item>
      <h2>อายุ</h2>
      <div *ngIf="announceDetail.age_year==undefine&&announceDetail.age_month==undefine&&announceDetail.age_week==undefine">
          <p>-</p>
        </div>
        <div *ngIf="announceDetail.age_year=='0'&&announceDetail.age_month=='0'&&announceDetail.age_week=='0'">
          <p>-</p>
        </div>
        <div *ngIf="announceDetail.age_year!='0'&&announceDetail.age_month!=undefine&&announceDetail.age_week!=undefine">
        <p>{{announceDetail.age_year}} ปี {{announceDetail.age_month}} เดือน {{announceDetail.age_week}} สัปดาห์</p>
      </div>
      <div *ngIf="announceDetail.age_year=='0'&&announceDetail.age_month!='0'">
        <p>{{announceDetail.age_month}} เดือน {{announceDetail.age_week}} สัปดาห์</p>
      </div>
      <div *ngIf="announceDetail.age_year=='0'&&announceDetail.age_month=='0'">
        <p>{{announceDetail.age_week}} สัปดาห์</p>
      </div>
    </ion-item>
    <ion-item>
      <h2>ข้อมูลสุนัขเพิ่มเติม</h2>
      <p>{{announceDetail.dogDetail}}</p>
    </ion-item>
    <ion-item>
      <h2>ข้อมูลติดต่อเพิ่มเติม</h2>
      <p>{{announceDetail.contactMiss}}</p>
    </ion-item>
    <ion-item>
      <h2>ผู้ประกาศ</h2>
      <p>{{userDetail.displayName}}</p>
    </ion-item>
    <ion-item>
      <h2>เบอร์โทรศัพท์ติดต่อ</h2>
      <p>{{userDetail.tel}}</p>
      <button ion-button item-end style="height:45px;width:55px;" (click)="launchDialer(userDetail.tel)"> <ion-icon name="call"></ion-icon></button>    
    </ion-item>
    <button ion-button block (tap)= "askForAdoption()">
      ขอทำการรับเลี้ยง
    </button>
  </ion-list>
</ion-content>
