page-lost-inform-thank {
    .img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
    .thank {
        text-align: center;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(41, 41, 41,0.75);
    }
    .breed {
        text-align: center;
        text-shadow: 1px 1px 1px rgba(41, 41, 41,0.75);
    }
}
