<!--
  Generated template for the AdoptGetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ประกาศอุปการะ</ion-title>
    <ion-buttons end>
      <button ion-button (click)="presentConfirm()">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <div>
    <ion-segment [(ngModel)]="location">
      <ion-segment-button value="nearby">
        ใกล้เคียง
      </ion-segment-button>
      <ion-segment-button value="all">
        ทั้งหมด
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="location">
    <ion-list *ngSwitchCase="'nearby'">
      <ion-item *ngFor="let dog of announcelistNear | async" (click)="goToAnnouceDetail(dog.dogName,dog.breed,dog.gender,dog.age,dog.dogDetail,dog.photo,dog.contactMiss,dog.reward,dog.uid)">
        <ion-thumbnail item-start>
          <img src="{{dog.photo}}">
        </ion-thumbnail>
        <h2>หาคนอุปการะ{{dog.dogName}} พันธุ็ {{dog.breed}} </h2>
        <p>ประกาศวันที่ {{dog.day}}/{{dog.month}}/{{dog.year}}</p>
        <p>อายุ{{dog.age}}</p>
        <button ion-button clear item-end (click)="goToAnnouceDetail(dog.dogName,dog.breed,dog.gender,dog.age,dog.dogDetail,dog.photo,dog.contactMiss,dog.reward,dog.uid)"><ion-icon name="arrow-dropright"></ion-icon>
        </button>
      </ion-item>
      <!-- <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/img/scroll0015.jpg">
        </ion-thumbnail>
        <h2>หาคนอุปการะ Turkey2 </h2>
        <p>อายุ 10 เดือน</p>
        <button ion-button clear item-end>View</button>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/img/scroll0015.jpg">
        </ion-thumbnail>
        <h2>หาคนอุปการะ Turkey3 </h2>
        <p>อายุ 8 เดือน</p>
        <button ion-button clear item-end>View</button>
      </ion-item> -->
    </ion-list>

    <ion-list *ngSwitchCase="'all'">
      <ion-item *ngFor="let dog of announcelistAll | async">
        <ion-thumbnail item-start>
          <img src="{{dog.photo}}">
        </ion-thumbnail>
        <h2>หาคนอุปการะ{{dog.dogName}} พันธุ็ {{dog.breed}} </h2>
        <p>ประกาศวันที่ {{dog.day}}/{{dog.month}}/{{dog.year}}</p>
        <p>อายุ{{dog.age}}</p>
        <button ion-button clear item-end (click)="goToAnnouceDetail(dog.dogName,dog.breed,dog.gender,dog.age,dog.dogDetail,dog.photo,dog.contactMiss,dog.reward,dog.uid)"><ion-icon name="arrow-dropright"></ion-icon></button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>