page-lost-main {
    .aa{
        background-color: #f7f1e3
    }
    .noti{
        background-color: #e67e22
    }
    .imgDog{
        width: 200 px;
        height: 200 px;
    }
    ion-card.top {
        border-radius: 5px;
        width : 100%;
        padding: 0;
        margin-bottom: 1px;
    }
    ion-card.bottomL {
        border-radius: 5px;
        padding: 0;
        margin-top: 4px;
        width:98%

    }
    ion-card.bottomR {
        border-radius: 5px;
        padding: 0;
        margin-top: 4px;
        

    }
    ion-col.col {
        padding :0;
    }
    ion-card.list{
        border-radius: 3px;
        height: 120px;
        margin : 3px;
        width : 95%;
    }
}
