page-filter-result {
    // ion-content {
    //     padding : 5px;
    // }
    .card-background-page {
        position: relative;
        text-align: center;
        height : 150px;
        width: 95%;
        margin: 8px;
      }
    
      .card-title {
        position: absolute;
        top: 30%;
        font-size: 3.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(41, 41, 41,0.75);
      }
      .card-subtitle {
        font-size: 1.5em;
        position: absolute;
        top: 60%;
        width: 100%;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(41, 41, 41,0.75);
      }
      img.img {
        -webkit-filter: grayscale(25%);
        filter: grayscale(25%) !important;
      }
}
