page-my-dog {
p.subhead{
    font-size: 20px;
    
}
span.safe {
    display:inline-block;
    background: #12be1b;
    color:#ffffff;
    border-radius: 20px;
    width: 80px;
    text-align: center;

}
ion-card-title {
    font-weight: bold;
}
}
